@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");
body {
  height: 100vh;
  background: #333 url("https://image.ibb.co/n5A2HU/showcase.jpg") no-repeat
    center center / cover;
  color: #ccc;
  overflow: hidden;
}

.bt {
  background-color: none;
  border-radius: 100px;
  border: none;
  padding: 10px;
}
